<template>
  <div class="w-full h-62 p-2">
    <div class="p-2  bg-gray-400 rounded-lg">
      <h1 class="text-2xl font-bold tracking-wide">ENV ENJOYER</h1>
      <p class="font-light text-base">A Guide for use env for vue.js 3 for vercel deployment</p>
    </div>
  </div>
  <div class="leading-5 p-2">
    <p class="font-medium text-lg">Step 1</p>
    <p>
      Create file <kbd class="bg-gray-400 px-1 rounded-md">.env.local</kbd>
    </p>
    <p>
      make sure at <kbd class="bg-gray-400 px-1 rounded-md">.gitignore</kbd> have list <code>.env.local</code>
    </p>
  </div>
  <div class="leading-5 p-2">
    <p class="font-medium text-lg">Step 2</p>
    <p>
      Publish your repo to github or bitbucket, or any other
    </p>
    <p>
      and deploy at vercel,
    </p>
  </div>
  <img src="./assets/vercel.png" alt="">
</template>

<script>
export default {
  name: 'App',
  computed: {
    appname() {
      return process.env.VUE_APP_APP_NAME
    }
  }
}
</script>

<style>
.pl-2 {
  padding-left: 10px;
}
</style>

